Credits : https://www.machinelearningplus.com/python/101-pandas-exercises-python/

In [ ]:
# @hidden_cell
import pandas as pd
import numpy as np

1. How to import pandas and check the version?

In [ ]:
pd.__version__

2. How to create a series from a list, numpy array and dict?

In [ ]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [ ]:
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)

3. How to convert the index of a series into a column of a dataframe?

In [ ]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

In [ ]:
ser = ser.reset_index(drop=False)

4. How to combine many series to form a dataframe?

In [ ]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [ ]:
df = pd.DataFrame({'col1' : ser1, 
                   'col2' : ser2})

# alternative 
df = pd.concat([ser1,ser2],
          # concatenate along the column, so axis = 1
          axis=1)

5. How to assign name to the series’ index?

In [ ]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

In [ ]:
ser.index.name = 'Name_Index'

6. How to get the items of series A not present in series B?

In [ ]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [ ]:
ser1[~ser1.isin(ser2)]

7. How to get the items not common to both series A and series B?

In [ ]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [ ]:
ser = pd.concat(
    [ser1[~ser1.isin(ser2)],
    ser2[~ser2.isin(ser1)]],
    axis=0)

# Alternative:
ser_U = pd.Series(np.union1d(ser1,ser2))
ser_I = pd.Series(np.intersect1d(ser1,ser2))
ser = ser_U[~ser_U.isin(ser_I)]

8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

In [ ]:
ser = pd.Series(np.random.normal(10, 5, 25))

In [ ]:
ser.describe()

#Alternative 
np.percentile(ser,q=[0,25,50,75,100])

9. How to get frequency counts of unique items of a series?

In [ ]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [ ]:
ser.value_counts()

10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?

In [ ]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

In [ ]:
# the top n values
n = 2
top_two = ser.value_counts().index[:n]
ser.loc[~ser.isin(top_two)] = 'Other'

11. How to bin a numeric series to 10 groups of equal size?

Bin the series ser into 10 equal deciles and replace the values with the bin name.

In [ ]:
ser = pd.Series(np.random.random(20))

In [ ]:
pd.qcut(ser, # series
        10,  # number of bins 
        labels=False # labels
       )

12. How to convert a numpy array to a dataframe of given shape? (L1)

Reshape the series ser into a dataframe with 7 rows and 5 columns

In [ ]:
ser = np.random.randint(1, 10, 35)

In [ ]:
df = pd.DataFrame(ser.reshape(7,5))

13. How to find the positions of numbers that are multiples of 3 from a series?

Find the positions of numbers that are multiples of 3 from ser.

In [ ]:
ser = pd.Series(np.random.randint(1, 10, 7))

In [ ]:
ser.map(lambda x : x%3 == 0)

# ALTERNATIVE 1
ser[ser%3==0].index

# ALTERNATIVE 2
np.argwhere(ser%3==0)

14. How to extract items at given positions from a series

From ser, extract the items at positions in list pos.

In [ ]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [ ]:
ser.loc[pos]

15. How to stack two series vertically and horizontally ?

Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

In [ ]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [ ]:
# vertically 
pd.concat([ser1,ser2],
           axis=0)

# horizontal
pd.concat([ser1,ser2],
          axis=1)

# 16. How to get the positions of items of series A in another series B?

Get the positions of items of `ser2` in `ser1` as a list.

In [ ]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

In [ ]:
[pd.Index(ser1).get_loc(i) for i in ser2]

17. How to compute the mean squared error on a truth and predicted series?

Compute the mean squared error of truth and pred series.

In [ ]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

In [ ]:
np.mean((truth-pred)**2)

18. How to convert the first character of each element in a series to uppercase?

Change the first character of each word to upper case in each word of ser.

In [ ]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [ ]:
ser.map(lambda x : x[0].upper() + x[1:])

#Alternative 
ser.map(lambda x : x.title())

19. How to calculate the number of characters in each word in a series?

In [ ]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [ ]:
ser.map(lambda x : len(x))

20. How to compute difference of differences between consequtive numbers of a series?

Difference of differences between the consequtive numbers of ser.

In [ ]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

In [ ]:
np.diff(np.diff(sorted(ser)).tolist()).tolist()

21. How to convert a series of date-strings to a timeseries?

In [ ]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

In [ ]:
pd.to_datetime(ser)

22. How to get the day of month, week number, day of year and day of week from a series of date strings?
Difficiulty Level: L2

Get the day of month, week number, day of year and day of week from ser.

In [ ]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

In [ ]:
ser = pd.to_datetime(ser)
ser.dt.day
ser.dt.week
ser.dt.dayofyear
ser.dt.dayofweek

# 23. How to convert year-month string to dates corresponding to the 4th day of the month?
Difficiulty Level: L2

Change ser to dates that start with 4th of the respective months.

In [ ]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

# 24. How to filter words that contain atleast 2 vowels from a series?
Difficiulty Level: L3

From ser, extract words that contain atleast 2 vowels.

In [ ]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

25. How to filter valid emails from a series?
Difficiulty Level: L3

Extract the valid emails from the series emails. The regex pattern for valid emails is provided as reference.

In [ ]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

In [ ]:
list( filter(lambda x : bool(re.search(pattern,x)),emails) )

26. How to get the mean of a series grouped by another series?
Compute the mean of weights of each fruit.

In [ ]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))

In [ ]:
df = pd.concat([fruit,weights],axis=1)
df.groupby([0]).\
aggregate({1 : np.mean})

#alternative 
weights.groupby(fruit).mean()

27. How to compute the euclidean distance between two series?
Compute the euclidean distance between series (points) p and q, without using a packaged formula.

In [ ]:
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

In [ ]:
sum((p-q)**2)**.5

28. How to find all the local maxima (or peaks) in a numeric series?
Get the positions of peaks (values surrounded by smaller values on both sides) in ser.

In [ ]:
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

In [ ]:
####

29. How to replace missing spaces in a string with the least frequent character?
Replace the spaces in my_str with the least frequent character.

In [ ]:
my_str = 'dbc deb abed gade'

In [ ]:
freq = pd.Series(list(my_str)).value_counts()
least_frequent_character = freq.dropna().index[-1]
my_str = re.sub(' ',least_frequent_character,my_str)

# bad alternative 
from collections import Counter
#Counter(my_str)
my_str = re.sub(' ','c',my_str)

30. How to create a TimeSeries starting ‘2000-01-01’ and 10 weekends (saturdays) after that having random numbers as values?

In [ ]:
####

31. How to fill an intermittent time series so all missing dates show up with values of previous non-missing date?
ser has missing dates and values. Make all missing dates appear and fill up with value from previous date.

In [ ]:
ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))

In [ ]:
ser.resample('D').ffill()

32. How to compute the autocorrelations of a numeric series?
Compute autocorrelations for the first 10 lags of ser. Find out which lag has the largest correlation.

In [ ]:
ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

In [ ]:
ac = ser.autocorr
# lag having highest autocorrelation
np.argmax(ac)

33. How to import only every nth row from a csv file to create a dataframe?
Difficiulty Level: L2

Import every 50th row of BostonHousing dataset as a dataframe.

In [ ]:
link = 'https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'
data = pd.read_csv(link)
df = pd.DataFrame()

for i in range(len(data)):
    if i % 50 == 0:
        df = df.append(data.iloc[i,:])

34. How to change column values when importing csv to a dataframe?

Import the boston housing dataset, but while importing change the 'medv' (median house value) column so that values < 25 becomes ‘Low’ and > 25 becomes ‘High’.

In [ ]:
f1 = {'medv' : lambda x : 'Low' if float(x) < 25 else 'High'}
df = pd.read_csv(link,
                 converters=f1)

35. How to create a dataframe with rows as strides from a given series?

In [ ]:
L = pd.Series(range(15))

In [ ]:
####

36. How to import only specified columns from a csv file?
Import ‘crim’ and ‘medv’ columns of the BostonHousing dataset as a dataframe

In [ ]:
df = pd.read_csv(link,
                usecols = ['crim','medv'])

37. How to get the nrows, ncolumns, datatype, summary stats of each column of a dataframe? Also get the array and list equivalent.

Get the number of rows, columns, datatype and summary statistics of each column of the Cars93 dataset. Also get the numpy array and list equivalent of the dataframe.

In [ ]:
link = 'https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv'
df = pd.read_csv(link)

In [ ]:
# num rows and columns 
df.shape
# datatypes 
df.dtypes
# summary stats for each columns 
df.describe()
# numpy array
df.values
# list 
df.values.tolist()

38. How to extract the row and column number of a particular cell with given criterion?

Which manufacturer, model and type has the highest Price? What is the row and column number of the cell with the highest Price value?

In [ ]:
# q1
df[df["Price"] == np.max(df["Price"])][["Manufacturer","Model","Type"]]

#q2
df[df["Price"] == np.max(df["Price"])][["Manufacturer","Model","Type"]].values.shape

39. How to rename a specific columns in a dataframe?
Rename the column Type as CarType in df and replace the ‘.’ in column names with ‘_’.

In [ ]:
df.columns = df.columns.map(lambda x : x.replace('Type','CarType'))
df.columns = df.columns.map(lambda x : x.replace('.','_'))

40. How to check if a dataframe has any missing values?
Check if df has any missing values.

In [ ]:
df.isnull().values.any()

41. How to count the number of missing values in each column?

Count the number of missing values in each column of df. Which column has the maximum number of missing values?

In [ ]:
# number of missing valus in each columns 
for col in df.columns:
    print(df[str(col)].isnull().value_counts())
    
# alternative
n_missing = df.apply(lambda x : x.isnull().sum())
n_missing.idxmax()

42. How to replace missing values of multiple numeric columns with the mean?
Replace missing values in Min.Price and Max.Price columns with their respective mean.

In [ ]:
df["Min_Price"]  = df["Min_Price"].fillna(np.mean(df["Min_Price"]))
df["Max_Price"]  = df["Max_Price"].fillna(np.mean(df["Max_Price"]))

43. How to use apply function on existing columns with global variables as additional arguments?
In df, use apply method to replace the missing values in Min.Price with the column’s mean and those in Max.Price with the column’s median.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [ ]:
df["Min.Price"] = df["Min.Price"].fillna(np.mean(df["Min.Price"]))
df["Max.Price"] = df["Max.Price"].fillna(np.median(df["Min.Price"]))

44. How to select a specific column from a dataframe as a dataframe instead of a series?
Get the first column (a) in df as a dataframe (rather than as a Series).

In [ ]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

In [ ]:
pd.DataFrame(df["Manufacturer"])

54. How to find and cap outliers from a series or dataframe column?
Difficulty Level: L2

Replace all values of ser in the lower 5%ile and greater than 95%ile with respective 5th and 95th %ile value.

In [ ]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))

In [123]:
df["row_sum"] = df.apply(sum,axis=1)
df[df.row_sum > 100][-1:]

56. How to swap two rows of a dataframe?
Difficulty Level: L2

Swap rows 1 and 2 in df.

In [162]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))
t = df.loc[1,:].copy()
df.loc[1,:] = df.loc[2,:]
df.loc[2,:] = t

57. How to reverse the rows of a dataframe?
Difficulty Level: L2

Reverse all the rows of dataframe df.

In [169]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))
df = df[::-1]

58. How to create one-hot encodings of a categorical variable (dummy variables)?
Difficulty Level: L2

Get one-hot encodings for column 'a' in the dataframe df and append it as columns.

In [177]:
df = pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde'))

In [ ]:
onehot = pd.get_dummies(df.a)
df = pd.concat([df,onehot],
         axis=1)